//colors
$color-darker-5: #212121;
$color-darker-4: #757575;
$color-darker-3: #BDBDBD;
$color-darker-2: #D7D7D7;
$color-darker-1: #DCEDC8;

$color-green-5: #009736;
$color-green-4: #00C600;
$color-green-3: #689F38;
$color-green-2: #8BC34A;
$color-green-1: #CDDC39;

$color-cyan-1: #22C1C3;

//top-offers specials
$colorx-yellow-1: #ffd318;
$colorx-red-1: #ec2d34;
//$colorx-blue-1: #cbdceb;
//$colorx-white-green-1: #e4eed5;

$bp-xs: "max-width: 576px";
$bp-sm: "min-width: 577px";
$bp-md: "min-width: 768px";
$bp-lg: "min-width: 992px";
$bp-xl: "min-width: 1200px";
$bp-xxl: "min-width: 1400px";

//custom bootstrap classes

$border-radius:               .40rem;
$border-radius-sm:            .50rem;
$border-radius-lg:            .80rem;
$border-radius-pill:          50rem;

$black:    $color-darker-5;
