.contact-w-80 {

    @include bps($bp-xs) {
        width: 100% !important;
    }
    @include bps($bp-sm) {
        width: 100% !important;
    }
    @include bps($bp-md) {
        width: 90% !important;
    }
    @include bps($bp-lg) {
        width: 80% !important;
    }
}
//----------------------------------------------------------------
.faq-w-75 {

    @include bps($bp-xs) {
        width: 95% !important;
    }
    @include bps($bp-sm) {
        width: 90% !important;
    }
    @include bps($bp-md) {
        width: 75% !important;
    }
}
//----------------------------------------------------------------
.ticket-w-50 {

    @include bps($bp-xs) {
        width: 95% !important;
    }
    @include bps($bp-sm) {
        width: 80% !important;
    }
    @include bps($bp-md) {
        width: 70% !important;
    }
    @include bps($bp-lg) {
        width: 50% !important;
    }
}
