/*====BASE====*/
body {
  font-family: 'Montserrat', sans-serif !important;
}
a {
  text-decoration: none !important;
}
//delete spinner in input [type=number]
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
